/* body {
  padding-top: 90px;
  font-family: "Oswald", sans-serif;
} */

/* .bg-body-tertiary {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
} */
.chat-box-item {
  margin-bottom: 15px;
  border: 30px solid #4811df;
  border-radius: 15px;
}
