body {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.buttons:hover {
  background: #e3e6de;
  /* border-radius: 10px; */
  color: rgb(10, 4, 4) !important;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-body-tertiary {
  background: linear-gradient(45deg, #021b3c, #198eee, #0e5972);
  background-size: 200% 200%;
  animation: gradientAnimation 10s infinite;
}
.mx-auto {
  font-size: 25px;
}
